nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li:first-child {
  border-left:1px solid black;
}

nav li {
  display: inline-block;
  margin:0;
  border-top:1px solid black;
  border-bottom:1px solid black;
  border-right:1px solid black;
  padding: 3px;
}

nav li > a,
nav li > a:active,
nav li > a:visited {
  font-family: arial;
  color: blue;
  text-decoration: none;
}

nav li > a.active,
nav li > a.active:active,
nav li > a.active:visited {
  color: red;
}

nav li > a:hover {
  text-decoration: underline;
}