<tool-header header-text="$ctrl.headerText"></tool-header>
<tool-header-upgrade [header-text]="$ctrl.headerText"></tool-header-upgrade>
<ul>
  <li ng-repeat="color in $ctrl.colors">{{color}}</li>
</ul>
<color-list></color-list>
<form>
  <div>
    <label>New Color:</label>
    <input type="text" ng-model="$ctrl.newColor" name="newColor">
  </div>
  <button ng-click="$ctrl.addColor()">Add Color</button>
</form>
