<div>
  <span>Color Search</span>
  <input type="text" [formControl]="colorSearchInput" (input)="doColorSearch()">
</div>

<ul>
  <li *ngFor="let color of colors$ | async; let i = index; index as i2; even as even; odd as odd; first as first; last as last; trackBy: colorNameTrack">{{i + 1}} {{i2}} {{first}} {{last}} {{even}} {{odd}} {{color.name}}</li>
</ul>