<form [formGroup]="filterForm">
  <select formControlName="filterField">
    <option value="">Select One...</option>
    <option value="make">Make</option>
    <option value="model">Model</option>
    <option value="year">Year</option>
    <option value="color">Color</option>
    <option value="price">Price</option>
  </select>
  <input type="text" formControlName="filterValue">
  <button (click)="doFilter()">Filter</button>
</form>
<table>
  <thead>
    <tr>
      <th (click)="sortField = 'id'">Id</th>
      <th (click)="sortField = 'make'">Make</th>
      <th (click)="sortField = 'model'">Model</th>
      <th (click)="sortField = 'year'">Year</th>
      <th (click)="sortField = 'color'">Color</th>
      <th (click)="sortField = 'price'">Price</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of cars">
      <tr class="view-car-row"
        *ngIf="editCarId !== car.id"
        [car]="car" (editCar)="doEdit($event)"
        (deleteCar)="doDelete($event)" ></tr>
      <tr class="edit-car-row"
        *ngIf="editCarId === car.id"
        [car]="car" (saveCar)="doSave($event)"
        (cancelCar)="doCancel()" ></tr>
    </ng-container>

  </tbody>
</table>
