<tool-header [tool-header]="$ctrl.headerText"></tool-header>
<color-list [colors]="$ctrl.colors"></color-list>
<form>
  <div>
    <label>New Color</label>
    <input type="text" ng-model="$ctrl.newColor">
  </div>
  <button ng-click="$ctrl.addColor()">Add Color</button>
</form>